    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 20px;
        font-family: 'CoFo Kak Trial';
        box-sizing: border-box;
    }

    /* Главный контейнер всей карточки */
    .whole-card {
        width: 420px;
        position: relative;
        z-index: 0; 
        border-radius: 10px;
        overflow: hidden; 
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

    .whole-card::before {
        content: '';
        position: absolute;
        z-index: -1; 
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url("assets/background1.jpg"); 
        filter: blur(5px); 
        background-size: cover;
        background-position: center;
    }
    
    /* --- Шапка --- */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    .rules-container {
        display: flex;
        gap: 5px;
    }
    
    .rule-box {
        width: 70px;
        height: 80px;
        border: 2px solid red; 
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }
    .logo {
        width: 88px;
        height: auto;
    }
    .tour-number {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    /* --- Основная сетка --- */
    .main-grid {
        background-color: rgba(255, 178, 0, 0.8);
        padding: 12px;
    }
    .bingo-card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 3px;
    }
    .cell {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding: 5px;
        aspect-ratio: 1 / 1; 
    }

    /* --- Подвал --- */
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    .footer-item {
        text-align: center;
        color: white;
        font-size: 10px;
    }
    .qr-code {
        width: 70px;
        height: 70px;
    }
